.login-form-div {
    display: flex;
    flex-direction: column;

    width: min-content;
    margin: 0 auto;

    margin-top: 10%;
}

form {
    display: flex;
    flex-direction: column;

    row-gap: 10px;
}