.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .nav-spacer {
    flex: 1 1 auto;
  }
  
  mat-form-field {
    padding-top: 10px;
  }
  
  mat-toolbar {
    height: 76px;
  }
  
  .search-dictionary {
    width: 40%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .pad-right-small {
    padding-right: inherit;
  }
  
  @media (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
  }
  
  @media (min-width: 767px) {
    .hidden-desktop {
        display: none;
    }
  }
  
  .vertical-align {
    display: flex;
    align-items: flex-end;
  }
  
  /*
    affects last two childs, <a> & <button>
  */
  .space-header-actions .header-action:nth-last-child(-n+2) {
    margin-right: 15px;
  }
  
  .header-us {
    font-size: large;
  }