<!-- https://stackblitz.com/edit/angular-searchbar-zncxk9?file=app%2Fapp.component.html -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport attr.role="navigation" mode="side">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard">
                <mat-icon aria-hidden="false" aria-label="home icon" class="pad-right-small">dashboard</mat-icon> Dashboard
            </a>
            <a mat-list-item routerLink="/login">
                <mat-icon aria-hidden="false" aria-label="edit icon" class="pad-right-small">login</mat-icon> Login
            </a>
            <a mat-list-item routerLink="/signup">
                <mat-icon aria-hidden="false" aria-label="request icon" class="pad-right-small">how_to_reg</mat-icon>
                Sign up
            </a>
            <!-- should be a pop up, no need redirecting them to another page, as them if they want to be notified when someone defines the word. Also ask people if they want to be notified when people make request for word definitions. -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <div class="vertical-align">
                <button aria-label="icon-button with meun icon" type="button" aria-label="Toggle sidenav"
                    mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    <!-- when they sign up, make meun like https://youtu.be/cbPe9_DKLYw?t=14 -->
                </button>
                <a mat-button class="hidden-mobile header-us" routerLink="/">Stakin Delegation</a>

            </div>
            <span class="nav-spacer"></span>
            <div class="space-header-actions">

                <a mat-button routerLink="/dashboard" class="hidden-mobile header-action">Dashboard</a>
                <button mat-icon-button class="hidden-desktop header-action" aria-label="icon-button with pen icon">
                    <mat-icon>dashboard</mat-icon>
                </button>

                <a mat-button routerLink="/login" class="hidden-mobile header-action">Login</a>
                <button mat-icon-button class="hidden-desktop header-action" aria-label="icon-button with pen icon">
                    <mat-icon>login</mat-icon>
                </button>


                <a mat-button routerLink="/signup" class="hidden-mobile header-action">Sign up</a>
                <button mat-icon-button routerLink="/define" class="hidden-desktop header-action"
                    aria-label="icon-button with pen icon">
                    <mat-icon>how_to_reg</mat-icon>
                </button>
            </div>

        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
        <!--// Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>